html,
body {
    min-width: 1300px;
    margin: 0;
    padding: 0;
  
    font-family: Lato, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #28211f;
  
    background-color: #ffffff;
}

.container {
    width: 1270px;
    margin: 0 auto;
    padding: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 17px 60px;

    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    vertical-align: top;

    cursor: pointer;
}

.btn:hover {
    color: #f5d76e;
    border: 2px solid #f5d76e;
}

.main-header {
    position: relative;
    margin-bottom: 95px;

    background-color: #4e4e4d;
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-bottom: 1px solid transparent;
}

.main-navigation {
    margin-bottom: 200px;

    background-color: rgba(40,33,31,0.35);
}

.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 480px;
    margin: 0 auto;
    padding: 34px 0;

    list-style: none;
}

.navigation-item a {
    margin-right: 16px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
}

.navigation-item:nth-child(2) a{
    margin-right: 205px;
}

.navigation-item:last-child a{
    margin-right: 0;
}

.navigation-item a:hover {
    color: #efdfa8;
}

.navigation-item a.active {
    color: #f5d76e;
}

.header-logo img {
    position: absolute;
    top: 2px;
    left: 540px;
}

.introduction-info {
    max-width: 440px;
    margin-left: 170px;
    margin-bottom: 195px;
}

.introduction-info b {
    display: block;
    margin-bottom: 15px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    color: #f5d76e;
}

.introduction-info p {
    margin: 0;
    margin-bottom: 38px;

    color: #ffffff;
}

.about {
    margin-bottom: 200px;
}

.about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 760px;
    margin: 0 auto;
}

.about-info b {
    margin-bottom: 30px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2f2f2f;
}

.about-info p {
    margin: 0;

    text-align: center;
}

.about-info b .underline {
    border-bottom: 1px solid;
}

.about-info::after {
    position: absolute;
    bottom: -110px;
    content: "";
    width: 39px;
    height: 39px;

    background-image: url("../img/coffee-icon.svg");
}

.section-title {
    margin: 0;
    margin-bottom: 53px;
    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2f2f2f;
    text-transform: uppercase;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 183px;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;

    list-style: none;
}

.menu-block {
    position: relative;
    width: 397px;
    margin-right: 45px;
}

.menu-block:last-child {
    margin-right: 0;
}

.menu-block-title {
    position: absolute;
    top: 95px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-transform: uppercase;
}

.menu-block img {
    margin-bottom: 35px;
}

.menu-block-table {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.menu-block-table .product-name {
    font-weight: 700;
    line-height: 28px;
    color: #28211f;
}

.menu .btn {
    color: #39312f;
    border: 2px solid #39312f;
}

.menu .btn:hover {
    color: #f5d76e;
    border: 2px solid #f5d76e;
}

.menu::after {
    position: absolute;
    bottom: -110px;
    content: "";
    width: 39px;
    height: 39px;

    background-image: url("../img/coffee-icon.svg");
}

.testimonials {
    position: relative;
    margin-bottom: 195px;

    border-top: 1px solid transparent;
}

.testimonials .section-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.testimonials .review-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-top: 80px;
}

.review-block .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 457px;
    position: relative;
    padding-top: 95px;

    background-color: #39312f;
}

.review img {
    margin-bottom: 10px;
}

.review .name {
    margin: 0;
    margin-bottom: 10px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #f5d76e;
}

.review-content {
    width: 265px;
    margin: 0;

    text-align: center;
    color: #ffffff;
}

.review::before,
.review::after {
    position: absolute;
    content: "";

    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.03;
}


.review::before {
    top: 30px;
    left: 30px;
    width: 111px;
    height: 50px;

    background-image: url("../img/01.png");
}

.review::after {
    bottom: 30px;
    right: 30px;
    width: 77px;
    height: 57px;
    
    background-image: url("../img/quotation.png");
}

.testimonials::after {
    position: absolute;
    bottom: -110px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    content: "";
    width: 39px;
    height: 39px;

    background-image: url("../img/coffee-icon.svg");
}

.location {
    position: relative;

    border-top: 1px solid transparent;
}

.location .section-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.location-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px;
}

.contacts {
    width: 356px;
    padding: 50px;

    background-color: #f5d76e;
}

.contacts-title {
    margin: 0;
    margin-bottom: 10px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

.contacts p,
.contacts table {
    margin: 0;
    margin-bottom: 25px;
}

.contacts table.happy-hour-table {
    margin-bottom: 0;
}

.contacts table {
    width: 180px;
}

.contacts table .day {
    font-weight: 700;
}

.location-block .map img {
    display: block;
}

.location-block .map {
    background-color: #e9e5dc;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1300px;
    margin: 0 auto;
    padding-top: 88px;
    padding-bottom: 145px;

    background-color: #39312f;
}

.main-footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 123px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    list-style: none;
}

.social-item a {
    background-position: center center;
    background-repeat: no-repeat;
}

.social-facebook a {
    display: block;
    width: 14px;
    height: 26px;
    background-image: url("../img/facebook-icon.svg");
}

.social-twitter a {
    display: block;
    width: 25px;
    height: 20px;
    background-image: url("../img/twitter-icon.svg");
}

.social-instagram a {
    display: block;
    width: 25px;
    height: 24px;
    background-image: url("../img/instagram-icon.svg");
}

.social-facebook a:hover {
    background-image: url("../img/facebook-icon-hover.svg");
}

.social-twitter a:hover {
    background-image: url("../img/twitter-icon-hover.svg");
}

.social-instagram a:hover {
    background-image: url("../img/instagram-icon-hover.svg");
}

.main-footer p {
    margin: 0;
    color: #ffffff;
}