html,
body {
    min-width: 1300px;
    min-height: 3513px;
    margin: 0;
    padding: 0;
  
    font-family: Lato, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #28211f;
  
    background-color: #ffffff;
}

.container {
    width: 1270px;
    margin: 0 auto;
    padding: 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
               clip: rect(0 0 0 0);
    overflow: hidden;
} /*ПОМЕНЯТЬ ДЛЯ ЭТОГО САЙТА*/

.main-header {
    position: relative;
    margin-bottom: 95px;

    background-color: #4e4e4d;
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-bottom: 1px solid transparent;
}

.main-navigation {
    margin-bottom: 200px;

    background-color: rgba(40,33,31,0.35);
}

.navigation-list {
    display: flex;
    flex-direction: row;
    width: 480px;
    margin: 0 auto;
    padding: 34px 0;

    list-style: none;
}

.navigation-item a {
    margin-right: 16px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
}

.navigation-item:nth-child(2) a{
    margin-right: 205px;
}

.navigation-item:last-child a{
    margin-right: 0;
}

.navigation-item a:hover {
    color: #efdfa8;
}

.navigation-item a.active {
    color: #f5d76e;
}

.header-logo img {
    position: absolute;
    top: 2px;
    left: 540px;
}

.introduction-info {
    max-width: 440px;
    margin-left: 170px;
    margin-bottom: 195px;
}

.introduction-info b {
    display: block;
    margin-bottom: 15px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    color: #f5d76e;
}

.introduction-info p {
    margin: 0;
    margin-bottom: 38px;

    color: #ffffff;
}

.introduction-info .btn {
    display: inline-block;
    padding: 17px 60px;

    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    vertical-align: top;
}

.introduction-info .btn:hover {
    color: #f5d76e;
    border: 2px solid #f5d76e;
}

.about {
    margin-bottom: 200px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 760px;
    margin: 0 auto;
}

.about-info b {
    margin-bottom: 30px;

    font-family: Domine, Times New Roman, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2f2f2f;
}

.about-info p {
    margin: 0;

    text-align: center;
}

.about-info b .underline {
    border-bottom: 1px solid;
}

.about-info::after {
    position: absolute;
    bottom: -110px;
    content: "";
    width: 39px;
    height: 39px;

    background-image: url("../img/coffee-icon.svg");
}































